<launch>

    <!-- <rosparam param="x">
        1
    </rosparam> -->

    <!-- Arguments -->
    <arg name="world" default="sim_house"/>

    <!-- Start sim world -->
    <include file="$(find tb3_worlds)/launch/tb3_world.launch">
        <arg name="world" value="$(arg world)"/>
    </include>

    <!-- Start navigation stack -->
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <arg name="map_file" value="$(find tb3_worlds)/maps/$(arg world)_map.yaml"/>
        <arg name="move_forward_only" value="true"/>
    </include>
    
    <!-- Run autonomy stack -->
    <!-- <node pkg="my_behavior_tree" type="my_1st_bt" name="my_1st_bt" output="screen"/> -->
    <node pkg="my_behavior_tree" type="move_robot" name="move_robot" output="screen"/>

    <!-- Run behavior tree visualization -->
    <node pkg="groot" type="Groot" name="groot" output="screen" args="--mode monitor"/>

</launch>