<launch>

    <!-- Run autonomy stack -->
    <!-- <node pkg="my_behavior_tree" type="my_1st_bt" name="my_1st_bt" output="screen"/> -->
    <node pkg="my_behavior_tree" type="move_robot" name="move_robot" output="screen"/>

    <!-- Run behavior tree visualization -->
    <node pkg="groot" type="Groot" name="groot" output="screen" args="--mode monitor"/>

</launch>